.logoButton{
    color: rgba(231, 231, 231, 1);
    font-family: 'League Gothic';
    font-size: 40px;
    padding-left: 16px;

}
.logoLink{
    text-decoration: none;
    color: rgba(231, 231, 231, 1);
}
.logoLink:hover{
    color: rgba(255, 88, 51, 1)
}